.env
node_modules
yarn.lock
package-lock.json

# Ignora tudo dentro da pasta
/procedures/backup_procedures/*
/views/backup_views/*

# Mas garante que a pasta em si seja criada no repositório
!/procedures/backup_procedures/.gitkeep
!/views/backup_views/.gitkeep
